.prasadh{
    /* background-color: aquamarine; */
    color: black;
    /* display: flex 1 left;flex-direction: row right; */
    flex: 1;order: 1;
    padding: 20px;border: red groove 3px;flex-wrap: wrap; 
    /* background-color: #f0f0f0; */
}
.mahesh{
    /* background-color: rgb(114, 161, 146); */
    color: #e5ee63;
    /* display: flex 1 right;flex-direction: row left; */
    flex: 1;order: 2;
    padding: 20px;border: orange groove 3px;flex-wrap: wrap; 
    /* background-color: #f0f0f0; */
}
.sunil{
    /* display: flexbox;
    flex: 2; */
    /* flex: 2; */
  padding: 20px 30px;border: rgb(240, 159, 172) groove 3px;
     flex-wrap: wrap; 
    /* background-color: rgb(96, 231, 96); */
    color: rgb(229, 245, 141);text-align: center  rgb(247, 148, 222) ;
}
.raghadhana>label{
    color: #f70676fa ;
}
/* div{
    flex-direction: row;
} */
.main{
    /* flex-direction: row;
    flex: 2;
    flex-wrap: wrap; */
    display: flex;
  flex-wrap: wrap;
    /* background-color: rgb(229, 238, 229);/*margin: 10px 20px; */
    
    /* color: rgb(229, 245, 141); */
}
header{
    background-color: #e5ee63;display: flex;
}
.raghadhana{
    border: 3px groove red;padding: 20px 25px;margin-left: 80%;
}
body{
    background-image: url(https://wallpaperaccess.com/full/2889105.jpg);
}
.mahesh>h1{
    color: rgb(192, 7, 130);
    
}
.sunil>p{
    color: aqua;
}
/* position: bottom right; flex: 5;order: 1;flex-wrap: bottom;*/
.prasadh>h1{
    color: green;
}
.prasadh>p{
    color: rgb(235, 14, 187);
}
#h3:hover{
    color: pink;background-color: blue;
}
#h1:hover{
    color: rgb(214, 45, 73);background-color: white;
}
#h2:hover{
    color: rgb(224, 65, 92);background-color: green;
}